<div>
    <div class="row">
        <div class="col-md-12">
            <h4>Documentation :</h4>
        </div>
    </div>
    <div class="col-md-4">
        <div class="widget-wrapper">
            <div class="list-group">
                <a class="list-group-item example hoverable waves-effect" (click)="showMe(0)"><b>Node</b></a>
                <a class="list-group-item example hoverable waves-effect" (click)="showMe(1)"><b>Angular 2</b></a>
                <a class="list-group-item example hoverable waves-effect" (click)="showMe(2)"><b>Webpack</b></a>
                <a class="list-group-item example hoverable waves-effect" (click)="showMe(3)"><b>Markdown</b></a>
                <a class="list-group-item example hoverable waves-effect" (click)="showMe(4)"><b>Danger</b></a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar form-header grid-form-header primary-color white-text">
                    <ul class="nav nav-tabs md-pills pills-ins" role="tablist">
                        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2"><i class="fa fa-bars"></i></button>
                        <div class="container-fluid">
                            <div class="container">

                                <div class="btn-group float-xs-left" role="group">
                                    <button type="button" class="btn btn-primary btn-sm" *ngIf="hidemanuel" (click)="hidediv()">Manuel</button>
                                    <button type="button" class="btn btn-primary btn-sm" *ngIf="hideauto" (click)="hidediv()">Auto</button>
                                </div>


                                <div class="collapse navbar-toggleable-xs" id="collapseEx2">

                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default navbar-btn float-xs-left waves-effect waves-light primary-color"><i class="fa fa-minus"></i></button>
                                        <button type="button" class="btn btn-default navbar-btn float-xs-left waves-effect waves-light primary-color"><i class="fa fa-plus"></i></button>
                                    </div>

                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default navbar-btn  waves-effect waves-light primary-color" (click)="onSelect(0)"><i class="fa fa-bold" aria-hidden="true"></i></button>
                                        <button type="button" class="btn btn-default navbar-btn  waves-effect waves-light primary-color" (click)="onSelect(1)"><i class="fa fa-italic" aria-hidden="true"></i></button>
                                        <button type="button" class="btn btn-default navbar-btn  waves-effect waves-light primary-color" (click)="onSelect(2)"><i class="fa fa-strikethrough" aria-hidden="true"></i></button>
                                        <button type="button" class="btn btn-default navbar-btn  waves-effect waves-light primary-color" data-toggle="modal" data-target="#linkModal"><i class="fa fa-chain" aria-hidden="true"></i></button>
                                        <button type="button" class="btn btn-default navbar-btn  waves-effect waves-light primary-color" data-toggle="modal" data-target="#pictureModal"><i class="fa fa-photo" aria-hidden="true"></i></button>
                                        <div class="btn-group">
                                            <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Titre</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" (click)="addTitle(1)">
                                                    <h1>Titre 1</h1>
                                                </a>
                                                <a class="dropdown-item" (click)="addTitle(2)">
                                                    <h2>Titre 2</h2>
                                                </a>
                                                <a class="dropdown-item" (click)="addTitle(3)">
                                                    <h3>Titre 3</h3>
                                                </a>
                                                <a class="dropdown-item" (click)="addTitle(4)">
                                                    <h4>Titre 4</h4>
                                                </a>
                                                <a class="dropdown-item" (click)="addTitle(5)">
                                                    <h5>Titre 5</h5>
                                                </a>
                                                <a class="dropdown-item" (click)="addTitle(6)">
                                                    <h6>Titre 6</h6>
                                                </a>
                                                <a class="dropdown-item" (click)="removeTitle()">
                                                    <p>Paragraphe</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>


                                    <form class="form-inline">
                                        <div class="btn-group">
                                            <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Librairie</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" (click)="markupLanguage(0)">Marked</a>
                                                <a class="dropdown-item" (click)="markupLanguage(1)">Showdown</a>
                                                <a class="dropdown-item">Git flavored markdown</a>
                                                <a class="dropdown-item">CommonMark</a>
                                                <a class="dropdown-item">Remarkable</a>
                                                <a class="dropdown-item">Markdown-it</a>
                                                <a class="dropdown-item">Wikitexte</a>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-default navbar-btn float-xs-left waves-effect waves-light primary-color"><i class="fa fa-print"></i></button>
                                        <button type="button" class="btn btn-default navbar-btn float-xs-left waves-effect waves-light primary-color"><i class="fa fa-download"></i></button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </ul>
                </nav>
                <ul class="nav nav-pills tabs-2 primary-color" role="tablist">
                    <li class="nav-item">
                        <a id="btn-pills" class="nav-link active" data-toggle="tab" href="#panel11" role="tab">Markdown</a>
                    </li>
                    <li class="nav-item">
                        <a id="btn-pills" class="nav-link" data-toggle="tab" href="#panel12" role="tab">Aperçu</a>
                    </li>
                </ul>

                <div class="tab-content card" *ngIf="hide">
                    <a class="fa fa-times" aria-hidden="true" *ngIf="hide" (click)="hideMe()"></a>
                    <button type="button" *ngIf="hideauto" (click)="this.updateOutput(this.test)" class="btn btn-primary">Convertir</button>
                    <div>{{posCursor}}</div>
                    <div class="tab-pane fade in active" (keyup)="position()" (click)="position()" id="panel11" role="tabpanel">
                        <textarea #t [(ngModel)]="test" *ngIf="hideauto" autosize></textarea>
                        <textarea #t [(ngModel)]="test" *ngIf="hidemanuel" (keyup)="this.updateOutput(this.test)" autosize></textarea>
                    </div>
                    <div class="tab-pane fade" id="panel12" role="tabpanel">
                        <div [ngSwitch]="libconverter">
                            <div [innerHtml]="convertedText" *ngSwitchCase="0">{{ convertedText }}</div>
                            <div [innerHtml]="html" *ngSwitchCase="1">{{ html }}</div>
                        </div>
                    </div>
                </div>
                <div id="linkModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title">Lien externe</h3>
                            </div>
                            <div class="modal-body">
                                <textarea [(ngModel)]="textLink" placeholder="Entrer le lien externe"></textarea>
                                <button type="button" class="btn btn-primary" (click)='addLink(0)' data-dismiss="modal">End</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pictureModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title">Image</h3>
                            </div>
                            <div class="modal-body">
                                <textarea [(ngModel)]="textLink" placeholder="Entrer le lien de l'image"></textarea>
                                <button type="button" class="btn btn-primary" (click)='addLink(1)' data-dismiss="modal">End</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>