<div class="hidden-sn mdb-skin">

	<header>

		<ul id="slide-out" class="side-nav custom-scrollbar">
			<li>
				<form class="search-form" role="search">
					<div class="form-group waves-light waves-effect waves-light">
						<input type="text" class="form-control" placeholder="Search">
					</div>
				</form>
			</li>
			<li>
				<ul class="collapsible collapsible-accordion">
					<li><a class="collapsible-header waves-effect arrow-r"> Menu <i class="fa fa-angle-down rotate-icon"></i></a>
						<div class="collapsible-body">
							<ul>
								<li><a routerLink="accueil" class="waves-effect">Accueil</a>
								</li>
								<li><a routerLink="angular2" class="waves-effect">Angular 2</a>
								</li>
								<li><a routerLink="markdown" class="waves-effect">Markdown</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		</ul>
		<nav class="navbar navbar-fixed-top scrolling-navbar double-nav">
			<div class="pull-left">
				<a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
			</div>
			<div class="breadcrumb-dn">
				<p>Ironbou</p>
			</div>
			<ul class="nav navbar-nav pull-right">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> <span class="hidden-sm-down">Profile</span></a>
					<div class="dropdown-menu dropdown-primary dd-right" aria-labelledby="dropdownMenu1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
						<a class="dropdown-item" routerLink="accueil">accueil</a>
						<a class="dropdown-item" routerLink="angular2">Angular 2</a>
						<a class="dropdown-item" routerLink="markdown">Markdown</a>
					</div>
				</li>
			</ul>
		</nav>
	</header>

	<main>
		<div class="container-fluid">


			<div class="row">
				<router-outlet></router-outlet>
			</div>
		</div>
	</main>
</div>