<div class="col-md-4">
    <div class="widget-wrapper">
        <h4>Documentation :</h4>
        <br>
        <div class="list-group">
            <a class="list-group-item" (click)="showMe(0)">Node</a>
            <a class="list-group-item" (click)="showMe(1)">Angular 2</a>
            <a class="list-group-item" (click)="showMe(2)">Webpack</a>
            <a class="list-group-item" (click)="showMe(3)">Warning</a>
            <a class="list-group-item" (click)="showMe(4)">Danger</a>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="row">
        <div class="col-md-12">
            <a class="fa fa-times" aria-hidden="true" *ngIf="hide" (click)="hideMe()"></a>
            <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" *ngIf="hide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">

                        <img src="{{angular2Url}}">
                        <div class="carousel-caption">
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-12" *ngIf="hide">
        <textarea [(ngModel)]="test" style="overflow: hidden" autosize></textarea>
    </div>

</div>